<Jumbo>
  <h2>Contact Us</h2>
  <address>
    Chilli Garlic
    <p>
        San Ramon, California, USA
    </p>
    <a href="tel:123.456.7890">+1 (123) 456-7890</a><br>
    <a href="mailto:chilligarlic@emberjs.com">chilligarlic@emberjs.com</a>
  </address>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>